body {
  grid-template: 100px minmax(50px, auto) auto minmax(200px, 15%) / 100%;
}
.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  margin: 15%;
  grid-row: 2 /3;
}
.shopContainer {
  grid-row: 3/4;
}

.filtered {
  display: none;
}
.rm {
  transition: 1s;
}
.cart {
  font-size: 1.2rem;
}

footer {
  grid-row: 4/5;
}
